*{
    box-sizing: border-box;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50px;
    color: gold;
    font-weight: bolder;
    font-size: 50px;
}



.border{
    background-color: red;
    padding: 30px;
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    
}

div {
    
    flex: 0 0 6.25%;
    height: 6.25%;
    
}