*{
    box-sizing: border-box;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50px;
    color: gold;
    font-weight: bolder;
    font-size: 50px;
}


.border{
    background-color: red;
    padding: 30px;
    flex-grow: 0;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    
    
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    height: 500px;
    width: 500px;
    
    
}

div {
    
    flex: 0 0 6.25%;
    height: 6.25%;
    
}

button {
    
    padding: 10px 5px;
    color: black;
    border-radius: 10px;
    background-color: white;
    width: 100px;
    
}

 